body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 2rem;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  background-image: url("./images/headerBg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  border-radius: 0;
  border-bottom: 5px solid #caca8c;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #06aed5;
  color: #ffffff;
  /* border-top: 1px dashed #000000; */
  background-color: #06aed5;
}

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  /* border-left: 1px solid black; */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #06aed5;
  border-color: #0fb9e1;
  color: white;
  width: 50px;
}

.saveBtn i {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
.saveBtn i:hover {
  color:#094350;
  transition: all 0.3s ease-in-out;
}

.input-group {
  /* background-color: aqua !important; */
  border-radius: 10px;
}
